Observational Data Investigation 
---

By Paul Duckworth 1 Sept 2017.


Initial attempt to match variables and data between Matt's observational data and ONET data. 

Starting with the snippet of "Administrator" observational data.

Observational Data:
---

In [29]:
import os
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

datasets = '/home/paul/Datasets/ONET/'
excel_doc = pd.ExcelFile(os.path.join(datasets, 'FoHC/Future of healthcare sample data.xlsx'))

data = excel_doc.parse("Data")
legend = excel_doc.parse("Legend")

data.head()

,Occupation title,Task,GP Code,Notes,Task also done by,Task also done by.1,Dependance on other people,Technology Use,Technology use,Information work,Information work.1,Information work.2,partial automation
0,Administrator,Medical Coding,"BFS, BSC, WMC",NaN,deputy practice managers,secretaries,NaN,Desktop,specific software,reduction,NaN,NaN,no
1,Administrator,Answering Phones,"BFS, BSC",NaN,receptionists,NaN,NaN,Phone,NaN,social transaction,NaN,NaN,no
2,Administrator,Register new Patients,"BFS, BSC",NaN,receptionists,NaN,NaN,Desktop,paper,transfer,entry,structured,no
3,Administrator,Use Intellisense to OCR letters and pick out c...,BFS,NaN,NaN,NaN,Requires scanning from other staff members or ...,Desktop,software,reduction,NaN,NaN,yes
4,Administrator,Child immunization targets in open exeter,WMC,NaN,NaN,NaN,NaN,Desktop,website,transfer,NaN,NaN,yes

ONET occupation DATA:
---

In [22]:
occupations = pd.read_table(os.path.join(datasets, 'databases/db2016/Occupation Data.txt'), sep='\t')

occupations.rename(columns = {'Title':'Occupation title'}, inplace = True)

occupations.head()

,O*NET-SOC Code,Occupation title,Description
0,11-1011.00,Chief Executives,Determine and formulate policies and provide o...
1,11-1011.03,Chief Sustainability Officers,"Communicate and coordinate with management, sh..."
2,11-1021.00,General and Operations Managers,"Plan, direct, or coordinate the operations of ..."
3,11-1031.00,Legislators,"Develop, introduce or enact laws and statutes ..."
4,11-2011.00,Advertising and Promotions Managers,"Plan, direct, or coordinate advertising polici..."

In [32]:
admin = occupations[occupations['Occupation title'].str.contains("Administrator", na=False)]
admin

,O*NET-SOC Code,Occupation title,Description
34,11-9031.00,"Education Administrators, Preschool and Childc...","Plan, direct, or coordinate the academic and n..."
35,11-9032.00,"Education Administrators, Elementary and Secon...","Plan, direct, or coordinate the academic, admi..."
36,11-9033.00,"Education Administrators, Postsecondary","Plan, direct, or coordinate research, instruct..."
37,11-9039.00,"Education Administrators, All Other",All education administrators not listed separa...
129,15-1141.00,Database Administrators,"Administer, test, and implement computer datab..."
130,15-1142.00,Network and Computer Systems Administrators,"Install, configure, and support an organizatio..."
138,15-1199.03,Web Administrators,"Manage web environment design, deployment, dev..."

In [33]:
# Merging these on Occupation, has negative effects on the detail of ONET occupation titles. 

# merged = pd.merge(data, admin, on='Occupation title', how='outer')
# merged.head()

Other ONET Datasets: 
---

In [38]:
#Tasks:
tasks = pd.read_table(os.path.join(datasets, 'databases/db2016/Task Statements.txt'), sep='\t')
tasks.head()

,O*NET-SOC Code,Task ID,Task,Task Type,Incumbents Responding,Date,Domain Source
0,11-1011.00,8823,Direct or coordinate an organization's financi...,Core,87,07/2014,Incumbent
1,11-1011.00,8831,Appoint department heads or managers and assig...,Core,87,07/2014,Incumbent
2,11-1011.00,8825,Analyze operations to evaluate performance of ...,Core,87,07/2014,Incumbent
3,11-1011.00,8826,"Direct, plan, or implement policies, objective...",Core,87,07/2014,Incumbent
4,11-1011.00,8827,"Prepare budgets for approval, including those ...",Core,87,07/2014,Incumbent

In [40]:
#Education: 
edu = pd.read_table(os.path.join(datasets, 'databases/db2016/Education, Training, and Experience.txt'), sep='\t')
edu = edu[edu['Data Value'] != 0.0]
edu.head()

,O*NET-SOC Code,Element ID,Element Name,Scale ID,Category,Data Value,N,Standard Error,Lower CI Bound,Upper CI Bound,Recommend Suppress,Date,Domain Source
3,11-1011.00,2.D.1,Required Level of Education,RL,4,6.05,27,4.43,1.28,24.19,N,07/2014,Incumbent
4,11-1011.00,2.D.1,Required Level of Education,RL,5,4.23,27,4.27,0.50,27.80,N,07/2014,Incumbent
5,11-1011.00,2.D.1,Required Level of Education,RL,6,21.61,27,9.79,7.76,47.47,N,07/2014,Incumbent
6,11-1011.00,2.D.1,Required Level of Education,RL,7,13.66,27,8.42,3.52,40.70,N,07/2014,Incumbent
7,11-1011.00,2.D.1,Required Level of Education,RL,8,25.83,27,11.34,9.35,54.03,N,07/2014,Incumbent

In [41]:
#Technoogy:
tech = pd.read_table(os.path.join(datasets, 'databases/db2016/Tools and Technology.txt'), sep='\t')
tech.head()

,O*NET-SOC Code,T2 Type,T2 Example,Commodity Code,Commodity Title,Hot Technology
0,11-1011.00,Tools,10-key calculators,44101809,Desktop calculator,N
1,11-1011.00,Tools,Desktop computers,43211507,Desktop computers,N
2,11-1011.00,Tools,Laptop computers,43211503,Notebook computers,N
3,11-1011.00,Tools,Personal computers,43211508,Personal computers,N
4,11-1011.00,Tools,Personal digital assistants PDA,43211504,Personal digital assistant PDAs or organizers,N

In [43]:
tech[tech['Hot Technology'] == 'Y'].head()

,O*NET-SOC Code,T2 Type,T2 Example,Commodity Code,Commodity Title,Hot Technology
7,11-1011.00,Technology,Adobe Systems Adobe Acrobat,43232202,Document management software,Y
9,11-1011.00,Technology,Blackbaud The Raiser's Edge,43232303,Customer relationship management CRM software,Y
14,11-1011.00,Technology,Enterprise resource planning ERP software,43231602,Enterprise resource planning ERP software,Y
16,11-1011.00,Technology,Fund accounting software,43231601,Accounting software,Y
24,11-1011.00,Technology,Intuit QuickBooks,43231601,Accounting software,Y